@mixin input {
  box-sizing: border-box;
  font-size: $font-size-base;
  min-width: 200px;
  max-width: 100%;
  height: $space-large;
  padding: 0 $space-x-small;
  color: $input-color;
  background: $input-background;
  border: $input-border-width solid $input-border-color;
  outline: none;
  transition: $input-transition;

  &:focus {
    border-color: $input-border-color-focus;
    background: $input-background-focus;
  }

  .is-disabled &, &:disabled {
    color: $input-color-disabled;
    cursor: not-allowed;
  }

  .has-error & {
    border-color: $input-border-color-danger;
  }
}
